/* Universal Selectors */
*{
      font-family: 'Times New Roman', Times, serif;
      font-style: normal;
}
/* Id Selectors */
.css_types{
      border:5px solid red;
      display: grid;
      align-items: center;
      padding: 15px;
}
/* Class Selectors */
#selectors> ul > li > p {
        color: orange;
      }
      /* Element Selectors */
      p{
            font-size: larger;
      }
      p,h2{
            font-style: oblique;
      }

      /* color */
      h4{
            color:chocolate;
      }
      /* RGB Example */
      #about_color>ul>li>span{
            color: rgb(0,255,0);
      }
      /* RGBA Example */
      #rgba{
            color:rgba(34, 120, 255, 0.5);
      }
      /* Using HSL */
      .hsl{
            color:hsl(120, 75%, 50%);
      }
      /* HEX Color */
        .hex{
            color:#0000FF;
        }
/* Bacground property */
.cat{
      /* background-color: wheat; */
      background-image: url(images/cat.png);
      /* background-size:100% 100%; */
      background-repeat:space;
      /* background-clip: padding-box; */
      /* background-size: 30%; */
      background-size: contain;
      background-position: center;
      background-origin:padding-box;
      background-clip: content-box;
      background-attachment: scroll;
}
/* How to center an image inside a div */
.centeredImage{
    background-color: purple;
     text-align: center;
}
/* About border */
.border_color{
      border-color: chartreuse yellowgreen;
      border-style: solid;
      border-width: 5px 10px 15px 20px;
      border-spacing: 5em;
      border-radius: 5px;

}
/* About box-model */
.box-image{
      box-sizing: border-box;
      margin:10px 20px 10px 20px;
      border: 20px dotted green;
      padding: 10px;
      box-shadow: 15px -20px teal;
}
